<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>cacheZeroUmOpen.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>cacheZeroUmShare.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>cachezeroum.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AC3C3F091C037DD9001AA531</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AC3C3F1D1C037EDB001AA531</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CA6279391A93B7FB00494E33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CA6279521A93B7FC00494E33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
